{% extends "aplicacion/index.html" %}

{% block titulo %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categorias</h1>
            <p class="lead fw-normal text-white-50 mb-0">Explora todas nuestras categorias disponibles</p>
        </div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}

<ul>
    {% for categoria in categorias %}
    <li>{{ categoria.nombre }}</li>
    {% endfor %}
</ul>

{% endblock contenido %}